[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["python3.11 -m pip install --upgrade pip", "python3.11 -m pip install -r requirements.txt"]

[start]
cmd = "cd EduMorph && python3.11 src/api/run_server.py"
